/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to top, yellow, #2148f7);
  color: #333;
  min-height: 100vh;
}

/* Navbar */
header nav {
  background-color: #2148f7;
  padding: 1rem;
  text-align: center;
}

header nav h1 {
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
}

/* Formulario */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 30px;
}

.form-section {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.form-section h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #2148f7;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="text"] {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button[type="submit"] {
  padding: 0.8rem;
  background-color: #2148f7;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #e85c50;
}
